
<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h1><%= @cocktail.name %></h1>
      <p>To be served in: <%= @cocktail.glass_type %> glass</p>
      <%= link_to "Edit", edit_cocktail_path(@cocktail) %>
    </div>



    <div class="<%= @cocktail.glass_type %>-wrapper">
      <div class="<%= @cocktail.glass_type %>-flex" style="grid-template-rows: <%= @fractions %>; background-color: <%= @background_color %>">
        <% @doses.each do |dose|%>
          <div style="background-color: <%= Ingredient.find(dose.ingredient_id).color %>; opacity: 0.4"></div>
        <% end %>
      </div>
      <% if @cocktail.glass_type == 'martini' %>
        <svg width="250" height="150" viewBox="0 0 250 150" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7468 0H0V150H125H250V0H233.253L125 150L16.7468 0Z"/>
        </svg>
      <% elsif @cocktail.glass_type == 'spritz' %>
        <svg width="200" height="165" viewBox="0 0 200 165" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 65V0H24.0042C9.03899 17.4803 0 40.1846 0 65ZM100 165H0V65C0 120.228 44.7715 165 100 165ZM200 65V165H100C155.228 165 200 120.228 200 65ZM175.996 0C190.961 17.4803 200 40.1846 200 65V0H175.996Z"/>
        </svg>
      <% end %>
    </div>

  </div>
  
  <hr>
  <h2>Doses</h2>
  <ul>
    <% @doses.each do |dose|%>
      <li><%= dose.quantity %> <%= Unit.find(dose.unit_id).name %> - <%= Ingredient.find(dose.ingredient_id).name %> - <%= link_to "Delete", dose_path(dose), method: :delete %></li>
    <% end %>
  </ul>
  <%= link_to "Add new dose", new_cocktail_dose_path(@cocktail) %>
  <hr>
  <%= link_to "Back to list of cocktails", cocktails_path %>

  


</div>