<div class="container">
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :quantity %>
  <%= f.association :unit %>
  <%= f.association :ingredient %>
  <%= f.submit %>
  <% end %>
</div>
